<!DOCTYPE html>
<html>
<head>
  <title>Proyecto Nacho</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Acerca de", bienvenido_about_path %></li>
    <li><%= link_to "Contacto", bienvenido_contacto_path %></li>
    <li><%= link_to "FAQs", bienvenido_faq_path %></li>
    <li><%= link_to "Notas", invoices_path %></li>
    <li><%= link_to "Login", root_path %></li>
  </ul>
  <%= yield %>
</div>
</body>
</html>
